<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карта АЗС</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/logo.svg" type="image/png">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="page">
        <header class="header">
            <div class="header-container">
                <div class="header-menu">
                    <a href="/" class="header-logo" title="На главную страницу">На главную</a>
                </div>
                <span class="header-span-text">Карта заправочных станций</span>
                <a href="/auth" class="header-auth" title="Вход в систему">Настройки</a>
            </div>
        </header>


        <main class="main">
            <div class="">
                <div>
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4a9f836e51defc138f62737bb02448177a594a0014d1da6f653f670df32bc0a3&amp;width=100%25&amp;height=800&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </div>
        </main>


        <footer class="footer">
            <div class="footer-container">
                <span class="footer-span-text1">
                    Автор сайта: Зубов Николай Андреевич<br>
                    Студент группы ИКБО-10-20<br>
                    zubov.n.a@edu.mirea.ru
                </span>
                <span class="footer-span-text2">
                    <a href="https://www.mirea.ru/">https://www.mirea.ru/</a><br>
                    <address>РТУ МИРЭА. Москва, Проспект Вернадского, 78</address>
                </span>
            </div>
        </footer>
    </div>
</body>
</html>