<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ url_for( 'static', filename='images/logo.svg')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='style.css')}}">
    <title>Страница не найдена</title>
</head>
<body>
    <div class="page">
        <header class="header">
            <div class="header-container">
                <div class="header-menu">
                    <a href="/" class="header-logo" title="На главную страницу">На главную</a>
                </div>
                <span class="header-span-text">Ошибка</span>
                <a href="/auth" class="header-auth" title="Профиль">Настройки</a>
            </div>
        </header>

        <main class="main">
            <br>
            <br>
            <br>
            <p style="margin-left: 10%">Кажется, Вы изобрели новую страницу.</p>
            <p style="margin-left: 10%; margin-right: 10%">Описание ошибки: {{ error }}</p>
            <br>
            <img class="img404" width="128" height="128" src="https://www.shareicon.net/data/512x512/2015/10/25/661431_cat_512x512.png" alt=":(">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </main>

        <footer class="footer">
            <div class="footer-container">
                <span class="footer-span-text1">
                    Автор сайта: Зубов Николай Андреевич<br>
                    Студент группы ИКБО-10-20<br>
                    zubov.n.a@edu.mirea.ru
                </span>
                <span class="footer-span-text2">
                    <a href="https://www.mirea.ru/">https://www.mirea.ru/</a><br>
                    <address>РТУ МИРЭА. Москва, Проспект Вернадского, 78</address>
                </span>
            </div>
        </footer>
    </div>
</body>
</html>