<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список АЗС</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/logo.svg" type="image/png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/stations.css">
</head>

<body>
    <div class="page">
        <header class="header">
            <div class="header-container">
                <div class="header-menu">
                    <a href="/map" class="header-logo" title="К карте заправок">Карта АЗС</a>
                </div>
                <span class="header-span-text">Заправочные станции</span>
                <a href="/auth" class="header-auth" title="Вход в систему">Настройки</a>
            </div>
        </header>



        <main class="main">
            <div class="main-container">
                <div class="air-left"></div>
                <div>
                    <div class="title">
                        <h2>Список АЗС с ценами на {{ date }}</h2>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Бренд</th>
                                <th>Адрес</th>
                                <th>АИ-92</th>
                                <th>АИ-95</th>
                                <th>АИ-98</th>
                                <th>АИ-100</th>
                                <th>ДТ</th>
                                <th>Газ</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for station in stations %}
                            <tr>
                                <th>{{ station.brand_name }}</th>
                                <th>{{ station.address }}</th>
                                <th>{{ station.ai_92 }}</th>
                                <th>{{ station.ai_95 }}</th>
                                <th>{{ station.ai_98 }}</th>
                                <th>{{ station.ai_100 }}</th>
                                <th>{{ station.dt }}</th>
                                <th>{{ station.gas }}</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="air-right"></div>
            </div>
        </main>



        <footer class="footer">
            <div class="footer-container">
                <span class="footer-span-text1">
                    Автор сайта: Зубов Николай Андреевич<br>
                    Студент группы ИКБО-10-20<br>
                    zubov.n.a@edu.mirea.ru
                </span>
                <span class="footer-span-text2">
                    <a href="https://www.mirea.ru/">https://www.mirea.ru/</a><br>
                    <address>РТУ МИРЭА. Москва, Проспект Вернадского, 78</address>
                </span>
            </div>
        </footer>
    </div>
</body>
</html>