table {
    text-align: left;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid grey;
    border-spacing: 2px;
}

th, td {
    padding: 10px;
    border: 1px solid grey;
    font-size: 14px;
    font-style: inherit;
}